<div class="ui blue inverted menu">
  <div class="item">
    <i class="bookmark icon"></i> 
  </div>
  <a class="item">Книги</a>
  <a class="item">Докладчики</a>
  <a class="item">Доклады</a>
  <a class="item">Заявки</a>
  <a class="item">Встречи</a>
</div>
<div>
    <main>{{outlet}}</main>
</div>
