<div>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Книжный клуб</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Книги <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Докладчики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Доклады</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Встречи</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>

  <main role="main" class="container marketing">
    {{outlet}}
  </main>

  <footer>
  </footer>
</div>