<div>
    <div class="ui blue inverted segment">
  <p>Добрый день!</p>
  <div class="ui inverted divider"></div>
  <p>Проект находится в разработке</p>
  <h4 class="ui horizontal inverted divider">
    Книжный клуб
  </h4>
</div>
</div>